
idle/
open/
smiler/
smilel/
model/

*.jpg
model/training_images TensorFlow/variables/variables.index
model/training_images TensorFlow/variables/variables.data-00000-of-00001
model/training_images TensorFlow/signature.json
model/training_images TensorFlow/saved_model.pb
*.jpg
